@(queryForm: Form[QueryData], results: List[(Country, List[(Airport, List[Runway])])])(implicit messages: Messages)

@main("Lunatech airport assignment -- Query Result"){
    @queryInput(queryForm)

    <h1>Query Results:</h1>
    @if(results.isEmpty) {
        <p>No matches found</p>
    } else {
        <p>@results.size matches found:</p>
        <ul>
        @for(result <- results){
            <li>@result._1.toString
                <ul>
                    @for(airport <- result._2){
                        <li>@airport._1.toString</li>
                        <ul>
                            @for(runway <- airport._2){
                                <li>@runway.toString</li>
                            }
                        </ul>
                    }
                </ul>
            </li>

        }
        </ul>
    }
}