@(queryForm: Form[QueryData], countries: List[Country])(implicit messages: Messages)

@countryDisplay(country: Country) = {
    <a href="@country.countryData.wikipedia_link">@country.countryData.name</a>
    <ul>
    @for(airport <- country.airports) {
        <li>@airportDisplay(airport)</li>
    }
    </ul>
}

@airportDisplay(airport: Airport) = {
    @airport.airportData.name -- @airport.airportData.aType
    @if(airport.airportData.wikipedia_link.isDefined){-- <a href="@airport.airportData.wikipedia_link.get">Wiki</a>}
    @if(airport.airportData.home_link.isDefined){-- <a href="@airport.airportData.home_link.get">Homepage</a>}
    <ul>
    @for(runway <- airport.runways) {
        <li>@runwayDisplay(runway)</li>
    }
    </ul>
}

@runwayDisplay(runway: Runway) = {
    @runway.surface -- @if(runway.closed == 1){Closed} else {Open}
}

@main("Lunatech airport assignment -- Query Result") {
    @queryInput(queryForm)

    <h1>Query Results:</h1>
    @if(countries.isEmpty) {
        <p>No matches found</p>
    } else {
        <p>@countries.size matches found:</p>
        <ul>
        @for(result <- countries) {
            @countryDisplay(result)
        }
        </ul>
    }
}